[submodule "backend"]
	path = backend
	url = https://github.com/semsemyonoff/AlbFetcharr-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/semsemyonoff/AlbFetcharr-frontend.git
